* {
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Arial;
}
body {
    font-size: 13px;
    color:#333333;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}